aws_region   = "us-east-1"
project      = "cubic"
environment  = "dev"
lambda_name  = "cubic-message-processor"

python_runtime  = "python3.12"
handler         = "lambda_function.lambda_handler"

# CI creates this zip in internal/build.
lambda_zip_path = "./build/lambda.zip"

env_vars = {
  APP_ENV = "dev"
}

tags = {
  Owner   = "Engineering"
  Project = "Cubic-Lambda"
  Managed = "Terraform"
}
